.corVinho {
  color: #bf1736;
}

.corVinhoFundo {
  background-color: #bf1736;
}

.corCreme {
  color: #f4edde;
}
.corCremeFundo {
  background-color: #f4edde;;
}

.corAzul1 {
  color: #0d1440;
}

.corAzul1Fundo {
  background-color: #0d1440f0;
}

.corAzul2 {
  color: #0e2773;
}

.corAzul2Fundo {
  background-color: #0e2773;
}

.corAzul3 {
  color: #1438a6;
}

.corAzul4 {
  color: #1438a6;
}

.destaqueVinho {
  background-color: #bf17369e;
}

body {
  background-image: url("imagens/fundo.jpg");
  background-size: contain;
}

/*  */

@font-face {
  font-family: OSlight;
  src: url("fontes/opensans/OpenSans-Light.ttf");
}

.fonteOSlight {
  font-family: OSlight;
}

@font-face {
  font-family: OSregular;
  src: url("fontes/opensans/OpenSans-Regular.ttf");
}

.fonteOSlight {
  font-family: OSregular;
}

@font-face {
  font-family: OSbold;
  src: url("fontes/opensans/OpenSans-Bold.ttf");
}

.fonteOSbold {
  font-family: OSbold;
}

@font-face {
  font-family: ZSlight;
  src: url("fontes/zillaslab/ZillaSlab-Light.ttf");
}

.fonteZSlight {
  font-family: ZSlight;
  line-height: 1.5;
}

/*  */

.botao {
  border: 2px solid #000;
  background-color: #f4edde60;

}
