* {
  padding: 0;
  margin: 0;
}

.logo {
  top: -0.3em;
}

.botao {
  border: 2px solid #000;
  background-color: #f4edde60;

}

ul {
  list-style-type: none;
}

.sumario li {
  height: 1.2em;
}

.listaUl {
  list-style-type: circle;
}

.listaLi {
  height: auto;
}

a:hover {
  text-decoration: none;
}

.nav-link {
  font-size: 1.5em;
  font-family: OSlight;
}

.parametros .nav-link {
 font-size: 1em;
}

aside {
  cursor: pointer;
}

/* Animações */
