body {
    background-color: #f4edde;
}

h1, h2, h3, h4, h5, h6, p {
    color: #676060;
}

.corVinho {
    color: #bf1736;
}

.corVinhoFundo {
    background-color: #bf1736;
}

.corCreme {
    color: #f4edde;
}

.corCremeFundo {
    background-color: #f4edde;
    ;
}

.corAzul1 {
    color: #0d1440;
}

.corAzul1Fundo {
    background-color: #0d1440f0;
}

.corAzul2 {
    color: #0e2773;
}

.corAzul2Fundo {
    background-color: #0e2773;
}

.corAzul3 {
    color: #1438a6;
}

.corAzul4 {
    color: #1438a6;
}

.destaqueVinho {
    background-color: #bf17369e;
}

body {
    /* background-image: url("imagens/fundo.jpg"); */
    background-size: contain;
}

@font-face {
    font-family: OSlight;
    src: url("fontes/opensans/OpenSans-Light.ttf");
}

@font-face {
    font-family: OSregular;
    src: url("fontes/opensans/OpenSans-Regular.ttf");
}

@font-face {
    font-family: OSbold;
    src: url("fontes/opensans/OpenSans-Bold.ttf");
}

@font-face {
    font-family: ZSlight;
    src: url("fontes/zillaslab/ZillaSlab-Light.ttf");
}

@media (max-width: 600px) {
    .fonteOSlight {
        font-family: OSlight;
        line-height: 1.5;
    }
    .fonteOSregular {
        font-family: OSregular;
        line-height: 1.5;
    }
    .fonteOSbold {
        font-family: OSbold;
        line-height: 1.5;
    }
    .fonteZSlight {
        font-family: ZSlight;
        line-height: 1.5;
        font-size: 1em;
    }
}

@media (min-width: 601px) {
    .fonteOSlight {
        font-family: OSlight;
        line-height: 1.5;
    }
    .fonteOSregular {
        font-family: OSregular;
        line-height: 1.5;
    }
    .fonteOSbold {
        font-family: OSbold;
        line-height: 1.5;
    }
    .fonteZSlight {
        font-family: ZSlight;
        line-height: 1.5;
        font-size: 1.4em;
    }
}

p,
h1 {
    margin: 2em 0 0 0;
    padding: 0 2em;
}

hr {
    margin: 2em 1em;
}

ul,
li {
    list-style-type: none;
}