body {
    background-color: #f4edde;
    background-size: contain;
    /* background-image: url("imagens/fundo.jpg"); */
    padding-bottom: 3rem;
}
    
h1, h2, h3, h4, h5, h6, p, li, a {
    color: #676060;
    font-family: 'Crimson Text', serif;
    font-size: 1.2em;
    text-decoration: none;
}

/*
Vinho #bf1736
Creme #f4edde
Azul1 #0d1440
Azul2 #0e2773
Azul3 #1438a6
Azul4 #1438a6
Destaque #bf17369e
*/

.blocoMaior {
    padding: 0 10%;
}

.blocoMenor {
    padding: 0 17%;
}

p, h1 {
    margin: 2em 0 0 0;
    padding: 0 2em;
}

hr {
    margin: 2em 1em;
}

ul, li {
    list-style-type: none;
}